* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(160deg, #1D1C45 16.62%, #060613 86.61%);
    padding-bottom: 232px;
}

.area-pesquisa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #F6F6F6;
    border-radius: 18px;
    margin-top: 200px;
    height: 215px;
    width: 600px;
    box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.77);
    color: #1c1c1d;
}

.menu-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input {
    margin-top: 10px;
    font-size: 20px;
}

.search-input {
    border: none;
    border-radius: 5px;
    height: 25px;
    width: 300px;
    box-shadow: 1px 1px 1px rgba(135, 133, 133, 0.77);
}

.search-button {
    border: none;
    background-color: #107715;
    color: #f6f6f6;
    font-size: 15px;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px rgba(135, 133, 133, 0.77);
}

.search-button:hover {
    background: #36793a;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.search-button, select{
    cursor: pointer;
}