<div *ngIf="loading; else finishLoading">Carregando dados...</div>

<ng-template #finishLoading>
    <button (click)="forksPopulares()">Forks mais populares</button>

    <button (click)="agruparPorIssue()">Agrupa por Issues</button>

    <button (click)="distinctLanguage()">Linguagens Diferentes</button>

    <button (click)="forksdeForks()">Quantos Forks de Forks</button>

    <button (click)="agrupaPorData()">Agrupa por data de criação</button>

    <table #stopLoading class="table">
        <thead>
		<tr>
			<th *ngFor="let item of cabecalho">{{item}}</th>
		</tr> 

        </thead>
        <tbody>
        <tr *ngFor="let fork of filteredForks; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{fork.full_name}}</td>
            <td>{{fork.stargazers_count}}</td>
            <td>{{fork.watchers}}</td>
            <td>{{fork.forks}}</td>
            <td>{{fork.open_issues}}</td>
            <td>{{fork.created_at || '-'}}</td>
            <td>{{fork.updated_at || '-'}}</td>
            <td>{{fork.has_downloads}}</td>
            <td>{{fork.language}}</td>
        </tr>

		<tr *ngFor="let fork of issuesForks; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{fork.has_issues}}</td>
			<td>{{fork.full_name}}</td>
            <td>{{fork.created_at || '-'}}</td>
            <td>{{fork.has_downloads}}</td>
            <td>{{fork.language}}</td>
        </tr>

		
		<tr *ngFor="let forkaux of groupForksAsGroup; let i = index">
            <th scope="row">{{i + 1}}</th>
			<td>{{forkaux.ano}}</td>
			<td>{{forkaux.full_name}}</td>
			<td>{{forkaux.created_at || '-'}}</td>
        </tr>
		
        </tbody>

    </table>

    <!-- <app-forks-group [groupedForks]="groupForksAsGroup"></app-forks-group> -->
</ng-template>
