<div *ngIf="loading; else finishLoading">Carregando dados...</div>

<ng-template #finishLoading>
    <button (click)="forksPopulares()">Forks mais populares</button>

    <button (click)="agruparPorIssue()">Agrupa por Issues</button>

    <button (click)="distinctLanguage()">Linguagens Diferentes</button>

    <button (click)="forksdeForks()">Quantos Forks de Forks</button>

    <button (click)="agruparPorData()">Agrupa por data de criação</button>

    <table #stopLoading class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Repositório</th>
            <th scope="col">Estrelas</th>
            <th scope="col">Assistindo</th>
            <th scope="col">Forks</th>
            <th scope="col">Issues</th>
            <th scope="col">Criação</th>
            <th scope="col">Atualização</th>
            <th scope="col">Downloads</th>
            <th scope="col">Linguagem</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let fork of filteredForks; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{fork.full_name}}</td>
            <td>{{fork.stargazers_count}}</td>
            <td>{{fork.watchers}}</td>
            <td>{{fork.forks}}</td>
            <td>{{fork.open_issues}}</td>
            <td>{{fork.created_at || '-'}}</td>
            <td>{{fork.updated_at || '-'}}</td>
            <td>{{fork.has_downloads}}</td>
            <td>{{fork.language}}</td>
        </tr>
        </tbody>
    </table>

    <hr> 

    <app-forks-group [groupedForks]="forks"></app-forks-group>
</ng-template>
